@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  padding: 0;
  position: relative;
  background-color: #e9ecef;
  font-family: "Poppins", sans-serif;
}
.text-primary-color {
  color: #606c38;
}
.text-blud {
  color: #90e0ef;
}

.input-diff {
  height: 3rem;
  width: 33rem !important;
  border-radius: 15px;
  border: none;
}
.input-diff:focus {
  border: 2px solid #606c38 !important;
  -webkit-box-shadow: 0px 0px 8px #606c38 !important;
  -moz-box-shadow: 0px 0px 8px #606c38 !important;
  box-shadow: 0px 0px 8px #606c38 !important;
}
header.masthead {
  position: relative;
  background-color: #ffffff;
  background: url("/static/assets/background5.jpg") no-repeat center center
    fixed;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 30rem;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  background-color: #c4c4c4;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(10px);
  height: 100vh;
	width: 50%; */
}

header.masthead h1 {
  z-index: 2;
  font-weight: bolder;
  -webkit-text-stroke: 1.5px #000;
  color: #606c38;
  text-shadow: 4px 3px 0px #000, 9px 8px 0px rgba(0, 0, 0, 0.15);
  /* text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1); */
}
a.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #606c38;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.nav-link:hover:after {
  color: #606c38;
  width: 100%;
  left: 0;
}
.bi {
  font-size: 30px;
  margin: 4.5px 10px 0px 10px;
}
.bi:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: relative;
  width: 20px;
}

.contentA .card-body {
  background-color: #606c38;
}
.navbar {
  background-color: #f1f3f5;
}
.container-fluid {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 10;
}
.navbar-brand {
  font-size: 25fpx !important;
  margin-right: 1rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}
.font-navbar {
  font-size: 22px;
  font-weight: bolder;
}
.navbar {
  padding: 0;
}
.logo {
  max-width: 160px;
  height: auto;
  margin-left: 10px;
}
.input-group:hover {
  transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.input-group {
  height: 3rem;
  transition: all 0.2s ease-out;
}

.input-group .predict-btn {
  background-color: #606c38;
  border: 0;
  font-weight: 500;
  height: 3rem;
  border: none;
  width: 60px;
}

.input-group .predict-btn:hover {
  background-color: #555;
}

.input-group .url-box {
  border-radius: 40px 0 0 40px !important;
  border: 0;
  padding: 1rem;
  text-indent: 10px;
}

/* News Feed */
.title-news-feed {
  margin-top: 15px;
  text-align: center;
}

/* News Feed End */

/* About Us CSS Start */
.title-about-us {
  text-align: center;
}

ol li {
  list-style-type: none;
  counter-increment: item;
  margin-top: 10px;
  font-size: 18px;
}

ol li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: #606c38;
  color: #e9ecef;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
  text-decoration: none !important;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none !important;
  color: #555;
}

.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.btn-more {
  border: 3px solid #606c38;
}
.btn-more:hover {
  background-color: #606c38;
  color: #fff;
}

.icon {
  color: #606c38;
  transition: 1s;
}
.icon:hover {
  transform: rotate(-360deg);
  color: #000;
}
.hoax-text {
  color: #606c38;
}
/* About Us CSS End */

/* Result CSS */
.resized {
  text-align: center;
}
.hero {
  margin-top: 4%;
  display: inline-block;
}
.title-result {
  text-align: center;
}
.result-attribut-text {
  text-align: justify;
}

.container .card .result-card {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.invalid-info {
  font-size: 20px;
  text-align: center;
}
.btn-result {
  border-radius: 40px;
  pointer-events: none;
  cursor: default;
}

/* CSS */
.btn-result {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-result::after,
.btn-result::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.btn-result::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.btn-result::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #6a994e;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
.btn-result-fake::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #bc4749;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.btn-result:hover::before {
  transform: translate(5%, 20%);
  width: 115%;
  height: 115%;
}

.btn-result:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 95%;
  height: 95%;
  transform: scale(1.2);
}

.btn-result:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.btn-real-result {
  border-radius: 40px;
  margin-bottom: 15px;
  margin-top: 1%;
  pointer-events: none;
  cursor: default;
}
.go-back-btn {
  text-align: left;
  padding: 1rem;
}

.real-result-btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
}

.real-result-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ccff33,
    #9ef01a,
    #70e000,
    #38b000,
    #008000,
    #007200,
    #006400,
    #004b23
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-real-result-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.fake-result-btn:before {
  background: linear-gradient(
    45deg,
    #ffb3c1,
    #ff758f,
    #c9184a,
    #a4133c,
    #800f2f,
    #590d22,
    #e5383b,
    #ba181b
  );
  animation: glowing-real-result-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-real-result-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.real-result-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #343a40;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.fake-result-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #343a40;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.fake-result-btn:hover::after {
  background: #e5383b !important;
}
.real-result-btn:hover::after {
  background: #606c38;
}
/*
<!-- HTML !-->
<button class="button-57" role="button"><span class="text">Button 57</span><span>Alternate text</span></button> */

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: flex;
  font-size: 15px;
  line-height: 15px;
  padding: 14px 13px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button-57 a {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  color: #000;
  font-size: 20px;
}

.button-57 span {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Result CSS End*/

/* Footer CSS Start */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: #aad129;
}
.copyright:hover {
  zoom: 110%;
}
/* Footer CSS End */

/* Responsive Start */
@media (max-width: 995px) {
  .input-diff {
    width: 25rem !important;
  }
  .bi {
    margin: 0px 0px 0px 25px;
  }
}
@media (max-width: 580px) {
  .card {
    margin: 0;
  }
  .col {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .fa {
    display: none;
  }
  .input-diff {
    width: 15rem !important;
  }
}
@media (max-width: 320px) {
  .navbar-toggler {
    margin-bottom: 10px;
    width: 100%;
  }
  .input-diff {
    width: 10rem !important;
  }
}
@media (max-width: 240px) {
  .input-diff {
    width: 7rem !important;
  }
  .predict-btn {
    margin-top: 10px;
    width: 170px !important;
  }
}
/* Responsive End */
