{%extends 'base.html'%} {% block contentE %}
<i class="bi bi-brightness-high-fill" id="toggleDark"></i>
{% endblock contentE %}{%block contentC%}
<div id="container-news" class="container pt-2">
  <!-- Title Start -->
  <h1 class="mb-1 title-news-feed">
    <b> News Feed</b>
  </h1>
  <p class="text-center mb-5">
    We use NewsAPI to fetch various news around the world. Therefore, this page will change every day <br />
    Here are the prediction results from our model, for some news retrieved from NewsAPI
  </p>
  <!-- <span style="color:  #606C38"> NewsAPI </span> -->
  <!-- Title End -->

  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for title in headlines %}

        <div class="col">
          <div class="card h-100">
            <img src={{ title[4] }} class="card-img-top" alt="..." />
            <div class="card-body" id="kartu">
              <h5 class="card-title">
                <a
                  class="text-decoration-none text-dark"
                  href="{{ title[0] }}"
                  target="_blank"
                  id="card-title1"
                  >{{ title[1] }}</a
                >
              </h5>

              <div class="info-news">
                <p class="card-text my-2">
                  Source: {{ title[3] }}
               </p>
               <p class="my-2">
                <span class="text-dark small-text" id="small-text">Link: </span> <a class="card-text text-decoration-none small-text my-1" href="{{ title[0] }}" target="_blank">
                 {{ title[0] }}
                 </a>
               </p>
                <p class=" small-text my-2" id="small-text">
                  Description: {{ title[2] }}
               </p>
              </div>
              {% if (title[5]) == 'REAL' %}
                <button type="button" class="btn-result">
                  <b>{{title[5]}}</b>
                </button>
              {% elif (title[5]) == 'FAKE' %}
                <button type="button" class="text-center btn-result btn-result-fake">
                  <b>{{title[5]}}</b>
                </button>
              {% endif %}
            </div>
            <div class="card-footer" id="footer">
              <small class="text-muted">Publish Date: {{title[6]}}</small>
            </div>
          </div>
        </div>

{% endfor %}
</div>
</div>
<script src="{{url_for('static',filename='js/news_feed.js')}}"></script>
{%endblock contentC%}