{%extends 'base.html'%} {% block contentE %}
<i class="bi bi-brightness-high-fill" id="toggleDark"></i>
{% endblock contentE %}{%block contentC%}
<div id="container-news" class="container pt-2">
  <!-- Title Start -->
  <h1 class="mb-1 title-news-feed">
    <b> News Feed</b>
  </h1>
  <p class="text-center mb-5">
    We use NewsAPI to fetch various news around the world. Therefore, this page will change every day <br />
    Here are the prediction results from our model, for some news retrieved from NewsAPI
  </p>
  <!-- <span style="color:  #606C38"> NewsAPI </span> -->
  <!-- Title End -->

  <div id="card_container" class="row row-cols-1 row-cols-md-3 g-4">
  {% for article in articles %}

  <div class="col hide-card">
    <div class="card h-100">
      <img id="article_image" src="" class="card-img-top" alt="..." />
      <div class="card-body" id="kartu">
        <h5 class="card-title">
          <a
            id="article_title"
            class="text-decoration-none text-dark"
            href=""
            target="_blank"
            id="card-title1"
            ></a
          >
        </h5>

        <div class="info-news">
          <p id="article_sourceName" class="card-text my-2">

         </p>
         <p class="my-2">
          <span class="text-dark small-text" id="small-text">Link: </span> <a id="article_url" class="card-text text-decoration-none small-text my-1" href="" target="_blank">

           </a>
         </p>
          <p id="article_description" class=" small-text my-2" id="small-text">

         </p>
        </div>

          <button id="article_result" type="button" class="text-center btn-result btn-result-unidentified">
            <b></b>
          </button>

      </div>
      <div class="card-footer" id="footer">
        <small id="article_date" class="text-muted"></small>
      </div>
    </div>
  </div>

{% endfor %}
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/news_feed.js')}}"></script>

{%endblock contentC%}